<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.laker.fragment"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- bugly配置权限start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>




    <!-- bugly配置权限end -->
    <application
        android:name="com.laker.fragment.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.laker.fragment.mvp.Main2Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.laker.fragment.fagmentation.FragmentationEnterActivity"
            android:label="@string/app_name">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.laker.fragment.fagmentation.demo_flow.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laker.fragment.fagmentation.demo_wechat.MainActivity"/>
        <activity
            android:name="com.laker.fragment.fagmentation.demo_zhihu.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.laker.fragment.fagmentation.demo_flow.SwipeBackSampleActivity"
            android:theme="@style/AppTheme.NoActionBar.SwipeBack"/>

        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58576a0107fe65338e001236">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="258b6e7135dd0e49a7b277e5bb67f57b">
        </meta-data><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>